// out: ./xuedialog.css, compress: true, sourceMap: false
@import url('./reset.less');
@definedWidth: 500px;
@definedHeight: 500px;


// 清浮动
.clear-float {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
// xuedialog
.xshmodal {
    position: fixed;
    &.default-size {
        // 默认大小
        width: @definedWidth;
        height: @definedHeight;
    }
    &.default-backdrop {
        // 默认背景
        background: rgba( 0, 0, 0, .3)
    }
    &.default-position {
        // 默认位置
        top: calc( ~' ( 100% - @{definedWidth} ) / 2 ' );
        left: calc( ~' ( 100% - @{definedHeight} ) / 2 ' );
        // transform: translate(-50%, -50%);
        // -ms-transform: translate(-50%, -50%);
        // -moz-transform: translate(-50%, -50%);
        // -webkit-transform: translate(-50%, -50%);
        // -o-transform: translate(-50%, -50%);
    }
    // 拖动的时候
    &.xshmodal-dialog {
        // transform: translate(0, 0);
        // -ms-transform: translate(0, 0);
        // -moz-transform: translate(0, 0);
        // -webkit-transform: translate(0, 0);
        // -o-transform: translate(0, 0);
    }
    // 放大
    &.maxmodal {
        width: 100%!important;
        height: 100%!important;
        left: auto!important;
        top: auto!important;
        right: auto!important;
        bottom: auto!important;
        // transform: translate(0, 0);
        // -ms-transform: translate(0, 0);
        // -moz-transform: translate(0, 0);
        // -webkit-transform: translate(0, 0);
        // -o-transform: translate(0, 0);
    }
    // 缩小
    &.minmodal {
        width: 130px!important;
        height: 30px!important;
        overflow: hidden!important;
        position: relative!important;
        top: calc( ~' 100% - 30px ' )!important;
        bottom: 0!important;
        right: auto!important;
        left: auto!important;
        float: left!important;
        // transform: translate(0, 0);
        // -ms-transform: translate(0, 0);
        // -moz-transform: translate(0, 0);
        // -webkit-transform: translate(0, 0);
        // -o-transform: translate(0, 0);
        text-align: left!important;
        margin: 0 8px!important;
    }
    // 头部
    .xshmodal-header {
        width: 100%;
        height: auto;
        line-height: 30px;
        position: relative;
         .xshmodal-header-title {
            width: 100%;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            * {
                width: 100%;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
        }
         .xshmodal-button {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            &>.xshmodal-button-box {
                width: auto
            }
        }
    }
    .xshmodal-body {
        .xshmodal-message {
            
        }
    }
}